# Dependencies
node_modules
.pnpm-store

# Python
.venv
__pycache__
*.pyc
*.pyo
.pytest_cache

# Build output
.next

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Next.js
next-env.d.ts